title {
  background-color: red;
}

h3 {
  margin-top: 0px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
p {
  margin-top: 0px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.div{

  float: left;
  
  width: 400px;
  
  }